<%-include ("./partials/head.ejs")%>
<%-include ("./partials/nav.ejs")%>
    <main>
        <h2>Información</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, dignissimos?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, dignissimos?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, dignissimos?</p>
    </main>
<%-include ("./partials/footer.ejs")%>